* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.strona {
    width: 80%;
    height: 950px;
    border: 1px solid lightgrey;
    justify-content: center;
    margin-left: 8.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.przyciski {
    border-radius: 10px;
    height: 50px;
    width: 85%;
    margin-top: 5px;
    margin-left: 6%;
    float: left;
}

.pokemon {
    margin-top: 10px;
    height: 150px;
    width: 85%;
    margin-left: 6%;
    float: left;
    background-color: #fccc;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.Description {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    height: 100px;
    width: 85%;
    margin-left: 6%;
    float: left;
}

.PhysicalAtributes h3,
.EvolutionChain h3,
.Moves h3 ,
.BaseStats h3{
    padding: 25px;
}

.PhysicalAtributes {
    width: 40%;
    height: 250px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 6%;
    float: left;
    margin-right: 5%;
    font-size: 22px;
}
.Height {
    height: 50px;
    width: 50%;
    float: left;
    padding-left: 25px;
}
.Weight {
    height: 50px;
    width: 50%;
    float: left;
}
.Abilites {
    height: 125px;
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-top: 25px;
}
.BaseExperience {
    height: 125px;
    width: 50%;
    float: left;
    padding-top: 25px;
}

.BaseStats {
    width: 40%;
    height: 250px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
   
}
.BaseStats p {
    padding-left: 25px;
}


.EvolutionChain {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    height: 125px;
    width: 85%;
    margin-left: 6%;
    float: left;
}

.Moves {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    height: auto;
    width: 85%;
    margin-left: 6%;
    float: left;
    margin-top: -20px;

}

.photo {
    width: 18%;
    float: left;
    height: 100%;
  
}
.photo img {
    height: 100%;
    margin-left: 25px;
    
}
.name {
    float: left;
    height: 100%;
    width: 82%;
    font-size: 25px;
    padding-top:5.5%;
}

.extra-button {
    width: 50%;
    float: left;
    border-radius: 10px;
}

.buttons-container {
    float: right;
}
.extra-button button {
    color: red;    
    padding-left:50px;
    font-size: 15px;
    margin-top: 5px;
    border: 1px solid lightgray;
}
.buttons-container button {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    width: 80px;
    border: 1px solid lightgray;
}
.EvolutionChain {
    margin-top: 20px;
    margin-bottom: 40px;
}
  
.evolution-images {
    display: flex;
    margin-left: 35%;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
.evolution {
    text-align: center; 
}
.evolution img {
    width: 90px;
    height: 90px;
    cursor: pointer;
}
.evolution p {  
    margin-top: 10px;
    font-weight: bold;
}
.EvolutionChain h3 {
    float: left;
    width: 38%;
}

.moves-table  {
    width: 1000px;
}
.Moves h3 {
    float: left;
    width: 100px;
}
.moves-table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px; 
}
  
.moves-table td {
    padding: 10px; 
    text-align: center;
}

button {
    margin-top: 10px; 
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}
.highlight {
    color: blue;
    font-weight: bold;
    background-color: lightblue;
}

.Description p {
    font-size: 16px;
    padding-left: 25px;
    color: grey
}
.Description h3 {
    padding: 25px 0 0 25px; 
    margin-bottom: 10px;
}

